:root {
  --main-color: #0b0d11;
  --primary-color: #cdcdcd;
  --main-font-color: white;
}

html {
  font-size: 16.5px;
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-font-color);
}

p {
  font-weight: 400;
}

.copyright a {
  color: #0e2666;
}

.navbar {
  background-color: var(--main-color);
}

.nav-link {
  font-size: 16px !important;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-transparent {
  position: sticky;
}

.navbottom {
  padding: 0.3rem 1rem;
}

.navbottom-text {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.space-above-hero {
  background-color: var(--space-above-hero);
}

.title {
  text-transform: uppercase;
  font-weight: 500;
}

.team-1 {
  padding: 70px 0 !important;
  /* border: .5px solid #d2ae4580; */
}

.team-1 .inner {
  margin-top: 50px;
}

.team-1 .lead {
  padding: 10px 30px 30px;
}

.team-1 .card-title,
.team-1 .list-unstyled {
  padding-left: 30px;
}

a.btn-icon-only {
  line-height: inherit;
}

.card-header img {
  width: 100%;
}
.fa-facebook-f:before {
  content: "\f39e";
}

.btn.btn-facebook.btn-icon-only .btn-inner--icon i {
  left: -5px;
}

.btn.btn-youtube.btn-icon-only .btn-inner--icon i {
  left: -8px;
}
.btn.btn-instagram.btn-icon-only .btn-inner--icon i {
  top: -8px;
  left: -8px;
  font-size: 18px;
  position: relative;
}

.btn.btn-twitter,
.btn.btn-facebook,
.btn.btn-youtube,
.btn.btn-instagram,
.btn.btn-instagram {
  background-color: #1da1f200;
  border-color: #212529;
  color: #212529;
}

.btn.btn-instagram:focus, 
.btn.btn-instagram:hover {
  background: linear-gradient(#405DE6 30%, #F56040 80%, #FFDC80);
  color: #fff;
}

.pop-out-book {
  max-height: 600px;
  margin-top: 20px;
}

.hero-btn {
  font-size: 15px;
}

.section.info-1 {
  margin-bottom: 0px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 0;
}

.info-1 #info-section-background {
  /* background: linear-gradient(45deg, #131d2c59, #e6e1e169),url(/assets/img/wide-shot.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-right: -15px;
  background-position: bottom;
}

.info-1 .info {
  position: absolute;
  max-width: 400px;
  top: 60px;
  right: 20%;
  left: unset;
}

.info-1 .right-image {
  height: 100%;
}

.team-1 .col-md-8 {
  padding-top: 0px;
}

.description.custom-description {
  font-size: 0.88rem;
  font-weight: 400;
}

.card {
  box-shadow: none;
  padding: 0 20px;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.navbottom-text a:hover {
  text-decoration: underline;
}

.testimony {
  border-bottom: 0.1px solid #ccc;
}

.the-right-image-square {
  min-height: 685px;
}

@media (max-width: 1680px) and (min-width: 1200px) {
  #about .col-xl-8 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media screen and (min-width: 1440.5px) {
  .card-img {
    min-height: 370px;
  }
}

@media screen and (max-width: 1465px) {
  .top-section {
    margin-top: 35px;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    padding: 0;
  }

  .card-img {
    max-height: 365px;
  }
}

@media screen and (max-width: 1200px) {
  .stormNav {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .section.center-text-block {
    margin-top: 0px;
  }
}

@media screen and (min-width: 991.98px) {
  .testimony:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 992px) {
  .center-text-block .display-3 {
    text-align: left;
  }

  .center-text-block .lead {
    text-align: left;
  }

  .center-text-block {
    padding-bottom: 0px;
  }

  .section.info-1 {
    padding-top: 20px;
    margin-bottom: 0px;
  }

  section.team-1 {
    padding-top: 0px !important;
  }

  .the-right-image-square {
    min-height: 520px;
    /* height: 520px; */
    max-width: 450px;
  }

  .row .profile {
    order: 2;
  }
}

@media screen and (max-width: 820px) {
  .navbottom-text {
    font-size: 15px;
    line-height: 1.5;
  }

  .team-1 .col-md-8 {
    padding-bottom: 0;
    /* padding-top: 30px; */
  }

  .team-1 .lead {
    padding: 10px;
  }
  /*
  .modal-header {
    display: none; 
  }

  .modal-header {
    display: block;
    background: var(--primary-color);
  }

  .modal-header .close {
    border: 1px solid var(--primary-color);
    padding: .3rem;
  }
*/
  .modal-header span {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .team-1 .inner {
    margin-top: 0px;
  }

  /* .pop-out-book {
          margin-left: 20px;
      } */
}

@media screen and (max-width: 767px) {
  .card-img {
    height: auto;
    max-height: 750px;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand {
    font-size: 14px;
  }
}

/***
  Min Width
  ***/
@media screen and (min-width: 500px) {
  section.about-the-book {
    padding-top: 60px;
    margin-bottom: 30px;
  }

  section.about-the-book h3 {
    margin: 0 auto;
  }
}

@media screen and (min-width: 530px) and (max-width: 575px) {
  section.about-the-book {
    padding-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  section.about-the-book {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1200.5px) {
  section.about-the-book {
    margin-top: 55px;
  }
}

.bd-btm-true {
  border-bottom: 0.5px solid var(--primary-color);
}

/******************* Hero *******************/

.main-hero {
  position: relative;
}

.main-hero-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - 100px);
}

.main-hero h1,
.main-hero p.lead {
  color: var(--main-font-color);
}

@media screen and (max-width: 992px) {
  .main-hero h1,
  .main-hero p.lead {
    color: var(--main-color);
  }
  .main-hero-image:before {
    height: 350px;
  }
}

/******************* page-header *******************/
.page-header {
  max-height: initial;
}

.page-header .col-lg-5 img {
  max-height: 600px;
  max-width: 440px;
}

.page-header .display-3 .text-primary {
  font-weight: bold;
}

.page-header .d-flex button {
  margin-right: 20px !important;
}

.page-header.header-filter:before {
  position: unset;
}

.page-header {
  min-height: 400px !important;
  height: 550px;
  max-height: 600px !important;
}

.page-header .page-header-image {
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.page-header h1,
.page-header p.lead {
  color: var(--main-font-color);
}

@media screen and (max-width: 992px) {
  .page-header h1,
  .page-header p.lead {
    color: var(--main-color);
  }
}

@media screen and (min-width: 1999.5px) {
  #homepage .page-header.page-header-small.header-filter {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 1200px) {
  .stormNav {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .page-header.page-header-small {
    margin-bottom: 0px;
  }

  .section.center-text-block {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .page-header .d-flex {
    flex-direction: column;
  }

  .page-header .d-flex button {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }

  .page-header.page-header-small {
    margin-bottom: 75px;
  }

  .page-header .col-lg-5 {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 992px) {
  .page-header-image {
    height: 520px;
    margin-top: -10px;
  }

  .page-header-image .my-5 {
    margin-top: 0px !important;
  }

  .page-header.page-header-small {
    margin-bottom: 420px;
  }
}

@media screen and (max-width: 820px) {
  .page-header .col-lg-7 {
    padding: 20px 10px;
    /* order: 2; */
  }

  .page-header .col-lg-5 {
    padding-bottom: 30px;
  }

  .page-header.page-header-small {
    margin-bottom: 480px;
  }
}

@media screen and (max-width: 575px) {
  .page-header.page-header-small {
    margin-bottom: 500px;
    height: auto;
  }
}

/******************* Dropdown Menu *******************/
@media (min-width: 992px) {
  .dropdown-menu {
      width: 500px;
      left: auto;
      right: 0;
      filter: drop-shadow(0 0 0.75rem #000);
  }
  .dropdown-menu:before {
      opacity: 0;
  }
  .book-item {
      width: 50%;
  }
}
/* mobile */
@media (max-width: 991.98px) {
  .dropdown-menu {
      display: block;
  }
}

/* discount */
.discount {
    display: none;
    position: absolute;
    top: -1.5rem;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
}
.discount-tag {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 2;
    width: 150px;
    height: auto;
} 
@media (max-width: 767.98px) {
  .discount-tag {
      width: 120px;
  } 
}

.black-friday .discount,
.black-friday .discount-tag {
    display: block;
}